@import "./reset.css";

:root {
  --f-cursive: "Nanum Brush Script", cursive;
  --f-ko: "Noto Sans KR", sans-serif;
  --f-en: "Work Sans", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 200vh;
}

body * {
  box-sizing: border-box;
}

.font-cursive {
  font-family: "Nanum Brush Script", cursive;
}

.font-ko {
  font-family: "Noto Sans KR", sans-serif;
}

.font-en {
  font-family: "Work Sans", sans-serif;
}

.apps {
}

header {
  /* padding: 20px 20px; */
  /* box-sizing: content-box; */
  height: 85px;
  font-size: 3rem;
  font-family: var(--f-en);
  font-weight: 600;
  color: rgb(84, 82, 82);
  display: flex;
  background-color: rgba(255, 255, 255, 0.95);

  line-height: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  word-break: keep-all;
}

.header-item {
  width: 34%;
  display: flex;
  padding: 20px 0;
}

.header-item--left {
  padding-left: 20px;
}

.header-item--left span {
  cursor: pointer;
}
.header-item--left span:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black;
  transition: all 0.2s linear;
}

.header-item--middle {
  width: 33%;
}

.header-item--middle span {
  margin: 0 auto;
}

.header-item--right {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: hidden;
  position: relative;
  height: 75px;
  padding-right: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  /* background-color: white; */
  transition: all 0.25s ease-in-out;
}

.header-item--right:hover {
  /* background-color: rgb(171, 171, 171); */
}

.header-right__title {
  /* display: flex; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.header-right--expanding {
  height: 300px;
  /* background-color: rgb(171, 171, 171); */
  backdrop-filter: blur(7px) brightness(99%);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transition: all 0.25s ease-in-out;
}

.header-right__label {
  margin-right: 10px;
  transition: all 0.2s linear;
}

.header-right__label:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black;
  transition: all 0.2s linear;
}

.header-right__opiton {
  /* width: 100%; */

  position: absolute;
  top: 70px;
  word-break: keep-all;
  width: 50%;
}

.header-right__category-ul1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-right__category-ul1 li {
  cursor: pointer;
  transition: all 0.2s linear;
}

.header-right__category-ul1 li:hover {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black;
  transition: all 0.2s linear;
}

.main-blank {
  height: 100px;
}

.main-grid {
  padding: 20px;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* gap: 20px; */
  gap: 1vw;
}

.main-grid__item {
  /* height: 300px; */
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* 
.main-grid__item1 {
  grid-column: 1/2;
}

.main-grid__item1 {
  grid-column: 2/3;
} */

.main-grid__img-box img {
  width: 100%;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.main-grid__title {
  margin-top: 20px;
  font-size: 1.8rem;
  font-family: var(--f-cursive);
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(68, 68, 68);
  transition: all 0.2s linear;
  cursor: pointer;
}

.main-grid__title:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black;
  transition: all 0.2s linear;
}
